body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #f5f5f5;
  color:#323232
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

p {
  margin: 0 0 5px;
}

/*faq */
.faq{
  max-width: 1160px;
}
.faq-item{
  margin-bottom: 16px;
border: 1px solid #593CDD;
border-radius: 16px;
background-color: #E9EFFF;

}

.faq-title{
  display: block;
  cursor: pointer;
  color: #323232;
  padding: 33px 100px;

}

.faq-text {
  display: none;
  font-size: 18 px;
  color: #323232 ;
  padding-top: 48px;
  padding-bottom: 33px;
  max-width: 548px;

}

.faq-input{
  width: 0px;
  height: 0px;
  appearance:none ;
  -webkit-appearance: none;
  position: absolute;
  
}

.faq-input:checked + .faq-text {
  display: block;
}
